# ESP-IDF build output
build/
sdkconfig.old
sdkconfig
sdkconfig.ci
dependencies.lock
.cache/

# Partition tables in components test apps(will be copied by cmake)
components/**/partitions.csv

# Python
*.pyc
__pycache__/

# Editor/IDE
cmake-*/
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

managed_components/

# Custom sdkconfig 
# sdkconfig

# Debug files
*.log
*.elf
*.map

# Flash download tool
flash_download_tool_*.zip